
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cianmcgovern.android.ShopAndStore"
      android:versionCode="8"
      android:versionName="2.2"
      android:debuggable="true">
      <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="ShopAndStore"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TakePhoto" android:label="TakePhoto" android:configChanges="orientation"
    android:screenOrientation="portrait">
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="DisplayResults" android:label="DisplayResults" android:configChanges="orientation"
    android:screenOrientation="portrait">
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="LoadingPage" android:label="LoadingPage" android:configChanges="orientation"
    android:screenOrientation="portrait">
            <intent-filter>
            </intent-filter>
        </activity>
    </application>
</manifest> 
