<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:debuggable="true"
    package="com.cianmcgovern.android.ShopAndShare"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/DefaultTheme" >
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="ShopAndShare"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Capture Image"
            android:name=".Camera.TakePhoto"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Camera Options"
            android:name=".Camera.TakePhotoOptionsActivity"
            android:noHistory="true" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Results"
            android:name=".DisplayResults.ListCreator" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Loading..."
            android:name="LoadingPage"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Edit Product"
            android:name="EditItem" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Available Saves"
            android:name="LoadResults" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="Click on a save to delete"
            android:name=".LoadResultsEdit" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".AddItem" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".Share" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".FailedUpload" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".EmptyResult" >
            <intent-filter >
            </intent-filter>
        </activity>
    </application>

</manifest>